@{ 
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron">
    <h1>Uniwersytet Contoso</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Witamy na Uniwersytecie Contoso</h2>
        <p>
            Uniwersytet Contoso jest prostą aplikacją, która
            demonstruje jak używać Entity Framework Core w
            webowych aplikacjach ASP.NET Core MVC.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Zbuduj aplikację jak domek z klocków</h2>
        <p>Zbuduj aplikację podążając za krokami kursu.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/lastest/data/ef-mvc/intro.html">Zobacz kurs. &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Pobierz przykład</h2>
        <p>Możesz pobrać kompletną aplikację ze strony GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Zobacz projekt źródłowy &raquo;</a></p>
    </div>
</div>